{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
    My Profile - Settings
{% endblock title %}
{% block body %}
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-6 mb-3 mb-lg-0">
                {% include "includes/profile.html" with show_user_stats=False %}
            </div>
            <div class="col-lg-6">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card shadow-sm border-0">
                        <div class="card-body">
                            {{ form.as_p }}
                            <button class="btn btn-primary btn-large">Update Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
