{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
    My Profile - Settings
{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Current Profile Picture</h1>
                {% thumbnail user.profile.profile_picture "150x150" crop="center" as im %}
                    <img src={{ im.url }} alt="" class="">
                {% endthumbnail %}
                <h1>Current Banner</h1>
                <img src={{ user.profile.banner.url }} alt="" class="" width="300">
            </div>
            <div class="col-6">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary btn-large">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
